LICENSE.txt

.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
.exe
.factorypath

/doc
/bin
/build
/logs

*.iml
*.cfg
~$*.docx
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
